.StickyBar {
  align-items: center;
  background: #304f47;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 100px;
}

.StickyBar__logo {
  align-items: flex-start;
  display: flex;
  float: left;
  gap: 10px;
  margin: 10px;
}

.Icon_name {
  color: #fff;
  font-family: 'Podkova';
  font-size: 12px;
  padding-top: 5px;
  position: relative;
  right: 2%;
}

.StickyBar__icons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.Circle_icons {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  height: 23px;
  justify-content: center;
  width: 23px;
}
