.stickyBar {
  align-items: center;
  background: #304f47;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 100px;
}

/* .mainContainer {
  align-items: center;
  display: flex;
}

.stickyBar__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
} */

.StickyBar__logo {
  display: flex;
  float: left;
  gap: 15px;
  /* padding-left: 80px; */
}

.Icons__name {
  color: #fff;
  font-family: 'Podkova';
  font-size: 12px;
  padding-top: 5px;
  position: relative;
  right: 2%;
}
