.Moving__cards {
  margin: 0;
  padding: 0;
}

.Header__title {
  font-family: lora;
  padding: 60px;
  text-align: center;
}

.Header__title h3 {
  margin-top: -40px;
}

.Arrow__button {
  display: flex;
  gap: 20px;
  justify-content: right;
  margin-right: 70px;
  position: relative;
}

.Arrow__button img {
  width: 50px;
}

.Moving__cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 50px auto;
  width: 10%;
}

.City img {
  border: 5px solid #304f43;
  border-radius: 50px;
  height: 270px;
  width: 270px;
}

.City h5 {
  bottom: 3%;
  font-size: 39px;
  padding-left: 38px;
  position: relative;
  right: 10%;
}

.City p {
  bottom: 12%;
  color: #9a9ab0;
  font-family: Mulish;
  font-size: 16px;
  margin: 0 auto;
  padding-left: 38px;
  position: relative;
  right: 10%;
  width: 95%;
}
