.NavBar {
  height: 106px;
}

.NavBar__Content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 95%;
}

.NavBar__section1 {
  align-items: center;
  display: flex;
  gap: 30px;
}

.NavBar_attributs {
  align-items: center;
  display: flex;
  font-family: Mulish;
  gap: 25px;
}

.line {
  border: 2px solid #304f47;
  height: 0;
  position: absolute;
  top: 13.5%;
  width: 44px;
}

a {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  text-decoration: none;
}

.NavBar__section2 {
  align-items: center;
  display: flex;
  gap: 45px;
}

.Magnifying_glass {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.Magnifying_glass:hover {
  background-color: #ddd;
  color: #304f47;
}

.signButton {
  background: #c7923e;
  border: 1px solid #304f47;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  height: 51px;
  letter-spacing: 0.5px;
  padding: 11px 24px;
  position: relative;
  right: 15%;
  width: 160px;
}
