.Page__image {
  background-image: url(../../../assets/images/nature10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}

.Image__text {
  padding: 140px;
  width: 50%;
}

.Image__text h1 {
  color: #fff;
  font-family: Lora;
  font-size: 62px;
}

.Image__text h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  margin-top: -40px;
}

.Arrow__icons {
  display: flex;
  gap: 75%;
  justify-content: center;
}

.Arrow__icons img {
  width: 80%;
}

.Horizontal__bar {
  background: #304f47;
  border-radius: 8px;
  display: flex;
  height: 88px;
  justify-content: center;
  left: 10%;
  padding: 0;
  position: relative;
  top: 13%;
  width: 80%;
}

.PageImage__input {
  border: none;
  border-radius: 8px;
  font-family: Mulish;
  font-size: 16px;
  height: 56px;
  margin-top: 15px;
  padding-left: 20px;
  position: relative;
  right: 5%;
  width: 350px;
}

.search__icon {
  position: relative;
  right: 9%;
  top: 40%;
}

.Booknow__btn {
  background: #c7923e;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  height: 55px;
  left: 5%;
  margin-top: 20px;
  position: relative;
  width: 15%;
}

.Bar__text {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  position: relative;
  right: 3%;
}
